doctype html 
html(lang="en")
    head
        title Week-3
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include includes/header.pug
        block content
        include includes/footer.pug 
        

